body{
    background: #f2f2f2;
}
ul,li{
    list-style: none;
}
.window{
    width: 920px;
    height: 400px;
    overflow: hidden;
    margin: 20px auto;
    border: 1px solid #d9d9d9;
    align-content: center;
    margin-top: 60px;

}
.images{
    align-items: flex-start;
    display: flex;
    transition: all 0.5s;
    width: 2760px;
}
.images>img{
    /* border: 1px solid red; */
}
.select{
    width: 920px; 
    border: 1px solid #d9d9d9;
    margin: -27px auto;
    background: #ececec;
    border-radius: 10px;
}
.bt{
    text-align: center;
    margin: -10px 20px;
    padding-bottom: 0px;
}
.bt>img{
   
    
}
#bt1,#bt2,#bt3{
    border: 1px solid red;
    padding: 9px 17px;
    margin: 0 -1px;
}
#bt1{
    padding: 5px 13px;
}

