body{
    background: #f2f2f2;
}
ul,li{
    list-style: none;
}
.window{
    width: 920px;
    height: 400px;
    overflow: hidden;
    margin: 20px auto;
    border: 1px solid #d9d9d9;
    align-content: center;
    margin-top: 60px;
    border-radius: 3px;
 }
.images{
    align-items: flex-start;
    display: flex;
    transition: all 0.7s;
    width: 4600px;
}
.select{
    width: 920px; 
    /* height: 44px; */
    border: 1px solid #d9d9d9;
    margin: 0 auto;
 }
 .bts{
    text-align: center;
    display: flex;
    justify-content: center;
}