ol,li{
    list-style: none;  
}
*{
    margin: 0;
}
.icon{
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
#xxx{
    background: white;
    display: block;
}
body{
    overflow: hidden;
}
.actions{
    position: fixed;
    top: 10px;
    left: 0px;
}
.actions > svg{
    width: 35px;
    height: 25px;
    transition: all 0.3s;
    margin-left:10px; 
}
.actions > svg.active{
    fill: red;
    transform: scale(1.2);
}
.colors{
       position: fixed;
       top: 47px;
       left: -24px;
}
.colors > li{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    margin: 10px 0;
    transition: all 0.3s;
}
.colors > li.active{
    transform: scale(1.2)
}
.colors > li.black{
    background: #000;
}
.colors > li.red{
    background: red;
}
.colors > li.green{
    background: green;
}
.colors > li.blue{
    background: blue;
}
.sizes{
    position: fixed;
    right: 10px;
    top: 45px;
}
.sizes > li{
    margin: 20px 5px;
}
.sizes > .thin{
    height: 0px;
    width: 30px;
    border-top: 3px solid black;
}
.sizes > .thick{
    height: 0px;
    width: 30px;
    border-top: 5px solid black;
}
