.one{
    width: 35px;
    height: 21px;
    background-color: red;
    position: absolute;
  }
  .two{
    height: 30px;
    width: 100px;
    background-color: gray;
    border-radius: 4px;
    display: none;
    position: relative;
    top: -10%;
    left: 130%;
  }
  .two::before{
    content:'';
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right: 5px solid rgba(122,122,45);
    border-bottom: 5px solid rgb(122,122,45);
    position: relative;
    top: 15px;
    left:-9px;
  }
  .active{
    display: none;
  }