.window{
    width: 400px;
    overflow: hidden;
    height: 300px;
    margin: 20px auto;
}
.images{
    position: relative;
}
.images > img{
    width: 100%;
    transition: all 1s;
}
.images > img.right{
    position: absolute;
    top: 0;
    left: 100%;
}
.images > img:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;

}
.images > img:nth-child(2){
    position: absolute;
    top: 0;
    left: 100%;
}
.images > img:nth-child(3){
    position: absolute;
    top: 0;
    left: 100%;
}